# === Carpetas de NetBeans ===
nbproject/private/

# === Carpetas de compilación ===
build/
dist/

# === Archivos compilados ===
*.class

# === Archivos de logs y temporales ===
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# === Archivos de sistema (Windows/macOS/Linux) ===
Thumbs.db
ehthumbs.db
.DS_Store
desktop.ini

# === Archivos de NetBeans generados automáticamente ===
*.orig

src\SQL\ConexionDBPlantilla.java
src\SQL\ConexionDB.java